In [7]:
label = "Sameer here!"
print(label)

Sameer here!

In [8]:
label = "From karachi!"
print(label)

From karachi!

In [9]:
print(label)

From karachi!

In [33]:
print(label.title())

SyntaxError: unexpected character after line continuation character (2448776781.py, line 1)

In [15]:
first_name = "sameer"
last_name = "zaidi"
full_name = f"{first_name} {last_name}"
print(full_name)

sameer zaidi

In [21]:
first_name = "sameer"
last_name = "zaidi"
full_name = f"{first_name} {last_name}"
print(f"Hello, {full_name}")

Hello, sameer zaidi

In [31]:
first_name = "sameer"
last_name = "zaidi"
full_name = f"{first_name} {last_name}"
print(f"Hello, {full_name.title()}\t")

Hello, Sameer Zaidi

#### whitespace

In [1]:
print("Python")

Python

In [3]:
print("\tpython")

	python

In [5]:
print("name:\nSameer\nlast:\nzaidi")

name:
Sameer
last:
zaidi

In [23]:
print("\tname:\n\tSameer\n\tlast:\n\tzaidi") #we can combine \t and \n

	name:
	Sameer
	last:
	zaidi

In [27]:
print("\t\tname:\n\tSameer\n\tlast:\n\tzaidi") # we can give gap number of time we want

		name:
	Sameer
	last:
	zaidi

In [29]:
name = "sameer      "
print(name)

sameer

In [31]:
name

'sameer      '

In [33]:
name.rstrip()

'sameer'

In [35]:
name='                                              sameer'

In [37]:
name

'                                              sameer'

In [39]:
name.lstrip()

'sameer'

In [41]:
name

'                                              sameer'

In [43]:
# to completely store the value after strippig the spaces we need to store it in the variable
name = name.lstrip()

In [45]:
name

'sameer'

In [47]:
name

'sameer'

In [49]:
animal = '              cow            '

In [51]:
animal

'              cow            '

In [53]:
animal = animal.strip()

In [55]:
animal

'cow'

#### Book Exercise

In [66]:
name = "Ali"
print(f"Hello, {name} could you please teach us something?")

Hello, Ali could you please teach us something?

In [72]:
name = "Hussain"
print(name.lower())

hussain

In [74]:
name = "Hussain"
print(name.upper())

HUSSAIN

In [78]:
name = "imam hussain"
print(name.title())

Imam Hussain

In [80]:
Einstien_quote = '"A Person Who Never Made A Mistake Never Tried Anything New"'
print(f"Albert Einstien once said, {Einstien_quote}")

Albert Einstien once said, "A Person Who Never Made A Mistake Never Tried Anything New"

In [84]:
Einstien_quote = '"A Person Who Never Made A Mistake Never Tried Anything New"'
print(f"Albert Einstien once said: \n{Einstien_quote}")

Albert Einstien once said:
"A Person Who Never Made A Mistake Never Tried Anything New"

### Numbers

In [86]:
2+3

5

In [88]:
5*5*5

125

In [1]:
(5**2) + 1

26

In [3]:
print(5+3)

8

In [5]:
print(4*2)

8

In [9]:
print(9-1)

8

In [11]:
print(16/2)

8.0

In [15]:
fav_variable = 14
print(f"My fav number for some reasons is {fav_variable}") # i was asked to write your fav number and then show it through a statement

My fav number for some reasons is 14

### Zen of python, a guide to write good piece of codes

In [3]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

### List

In [6]:
places = ['Melbourne', 'Sydney', 'Berlin', 'Scotland', 'Edinburgh', 'oxford', 'cambridge', 'norway']
print(places[0])

Melbourne

In [8]:
print(places[-1])  # -1 shows the last element of the list

norway

In [10]:
print(f"The city i would like to go for work is {places[0]} and after that the place i want to visit with my family is {places[3]} and lastly i want to visit, {places[-1]} to watch northern lights and finally {places[-2]} since thats where my education is based")

The city i would like to go for work is Melbourne and after that the place i want to visit with my family is Scotland and lastly i want to visit, norway to watch northern lights and finally cambridge since thats where my education is based

In [12]:
# in above line of code i basically used list to store my fav cities and then i accessed them and used the f strings to write a message

In [14]:
friends = ['ali', 'rameel', 'usman', 'ebad', 'abdullah', 'hasan']
email = (f"hello, {friends[0]}, hope u have met {friends[-1]}, and {friends[-3]} got to know {friends[-2]} very well after this meeting.")

In [15]:
print(email) # here i simply accessed the list elements and have attached a msg but this time i store the message in a varibale called email

hello, ali, hope u have met hasan, and ebad got to know abdullah very well after this meeting.

In [16]:
friends = ['ali', 'rameel', 'usman', 'ebad', 'abdullah', 'hasan']
email = (f"hello, {friends[0].title()}, hope u have met {friends[-1].title()}, and {friends[-3].title()} got to know {friends[-2].title()} very well after this meeting.")

In [17]:
print(email) # here i used the title method to capitalize each first letter of the person name

hello, Ali, hope u have met Hasan, and Ebad got to know Abdullah very well after this meeting.

#### Pop, del, remove

In [19]:
guests = ['Kausar', 'Mustahsan', 'Ghazi', 'Mahnoor', 'Kinza','Sameer']
print(f"Dear {guests[0].title()} since you do the most of the hardwork you are especially invited to the dinner, Dear {guests[1].title()} how can we forget you, you are must to be in the dinner event, hello {guests[2].title()} apko bhe ana hai hamari dinner event pay! Aur {guests[3].title()} {guests[4].title()} {guests[5].title()} ap logon ko bhe lazmi ana hai, we will be waiting for the entire zaidi family at the event. ")

Dear Kausar since you do the most of the hardwork you are especially invited to the dinner, Dear Mustahsan how can we forget you, you are must to be in the dinner event, hello Ghazi apko bhe ana hai hamari dinner event pay! Aur Mahnoor Kinza Sameer ap logon ko bhe lazmi ana hai, we will be waiting for the entire zaidi family at the event.

#### another exercise

In [144]:
iftar_guests = ['Bilal', 'Ebad', 'Talha', 'Asher', 'Ahmed']
print(f"We just got a call from {iftar_guests[-1]} that he cant make it to iftar party sadly")

We just got a call from Ahmed that he cant make it to iftar party sadly

In [146]:
iftar_guests[-1] = 'Abdul' 
# since ahmed is not coming we are replacing him with abdul

In [148]:
print(f"Since now everybody has confirmed that they are coming here is the final list of the of the people coming to iftar party {iftar_guests}")

Since now everybody has confirmed that they are coming here is the final list of the of the people coming to iftar party ['Bilal', 'Ebad', 'Talha', 'Asher', 'Abdul']

In [150]:
# we just noticed that we have more capacity to accomodate 3 more people in the iftar party hence we are adding 3 more new people to our guest list
iftar_guests.insert(0, 'sameer') # first through insert method

In [152]:
iftar_guests.median() #the query was to add a new memb inn the mid so i tried it but failed, guess will learn inn later chapters how to do it

AttributeError: 'list' object has no attribute 'median'

In [154]:
iftar_guests #somehow 2 sameer so lets del one

['sameer', 'Bilal', 'Ebad', 'Talha', 'Asher', 'Abdul']

In [156]:
del iftar_guests[0]

In [158]:
iftar_guests

['Bilal', 'Ebad', 'Talha', 'Asher', 'Abdul']

In [160]:
# now we will find the mid value and add one more guest

In [162]:
iftar_guests.insert(3, 'Raheem')

In [164]:
iftar_guests

['Bilal', 'Ebad', 'Talha', 'Raheem', 'Asher', 'Abdul']

In [166]:
iftar_guests.append('Atif')

In [168]:
iftar_guests

['Bilal', 'Ebad', 'Talha', 'Raheem', 'Asher', 'Abdul', 'Atif']

In [170]:
print(f"updated guest list for todays iftar party {iftar_guests}")

updated guest list for todays iftar party ['Bilal', 'Ebad', 'Talha', 'Raheem', 'Asher', 'Abdul', 'Atif']

#### Shrinking Guest List

In [172]:
removed_person1 = iftar_guests.pop()

In [174]:
print(f"Sorry {removed_person1.title()} please stay home since our table got full")

Sorry Atif please stay home since our table got full

In [176]:
removed_person2 = iftar_guests.pop()

In [178]:
print(f"Sorry {removed_person2.title()} please stay home since our table got full")

Sorry Abdul please stay home since our table got full

In [180]:
removed_person3 = iftar_guests.pop()

In [182]:
print(f"Sorry {removed_person3.title()} please stay home since our table got full")

Sorry Asher please stay home since our table got full

In [184]:
iftar_guests

['Bilal', 'Ebad', 'Talha', 'Raheem']

In [186]:
print(f"since rest of them couldn't be invited Mr {iftar_guests[0].title} & {iftar_guests[1].title} are still invited please join us" )

since rest of them couldn't be invited Mr <built-in method title of str object at 0x00000252F28B9140> & <built-in method title of str object at 0x00000252F30FFE10> are still invited please join us

In [188]:
# the above error is cause i didnt use parenthesis after title ()

In [190]:
print(f"since rest of them couldn't be invited Mr {iftar_guests[0].title()} & {iftar_guests[1].title()} are still invited please join us!" )

since rest of them couldn't be invited Mr Bilal & Ebad are still invited please join us!

In [192]:
del iftar_guests[0]

In [194]:
iftar_guests

['Ebad', 'Talha', 'Raheem']

In [196]:
iftar_guests

['Ebad', 'Talha', 'Raheem']

In [198]:
del iftar_guests[0]

In [200]:
iftar_guests

['Talha', 'Raheem']

In [202]:
del iftar_guests[0]

In [204]:
iftar_guests

['Raheem']

In [206]:
del iftar_guests[0]

In [208]:
iftar_guests # task was to show an empty list

[]

### Sorting

In [214]:
cars1 = ['Audi', 'Merc', 'Bmw', 'Tesla', 'Toyota']

In [220]:
cars1.sort() # it has sorted in an alphabetical order

In [222]:
cars1

['Audi', 'Bmw', 'Merc', 'Tesla', 'Toyota']

In [224]:
# lets try to reverse it
cars1.sort(reverse=True)

In [228]:
cars1 # it has indeed

['Toyota', 'Tesla', 'Merc', 'Bmw', 'Audi']

In [232]:
# Since these changes permanently changes the order there is an alternate way to sort them without permanently changing the order

### Sorted()

In [235]:
fruits = ['Apple', 'banana', 'pineapple', 'orange', 'cucumber']

In [237]:
fruits.sorted()

AttributeError: 'list' object has no attribute 'sorted'

In [239]:
sorted_fruits = sorted(fruits)

In [241]:
sorted_fruits

['Apple', 'banana', 'cucumber', 'orange', 'pineapple']

In [245]:
fruits # here u can see there is no alphabehtical order followed

['Apple', 'banana', 'pineapple', 'orange', 'cucumber']

In [249]:
fruits.reverse()

fruits

In [252]:
fruits

['Apple', 'banana', 'pineapple', 'orange', 'cucumber']

In [256]:
fruits.reverse()

In [260]:
print(fruits)

['Apple', 'banana', 'pineapple', 'orange', 'cucumber']

#### Reversing the order of the list

In [263]:
alphabets = ['a', 'b', 'c', 'd', 'e']

In [265]:
alphabets

['a', 'b', 'c', 'd', 'e']

In [296]:
alphabets.reverse()
print(alphabets)   # as u can see the reverse method did not sort backward alphabatically rather just, it simply reverse the order of the list

['e', 'd', 'c', 'b', 'a']

In [272]:
# whereas (reverse = true) alphabatically reversed it!

#### Finding the length of the list

In [275]:
alphabets

['a', 'b', 'c', 'd', 'e']

In [279]:
len(alphabets)  # when there is . like .sort it is method and without that it is function

5

In [1]:
#methods are only for specific thing and datatypes whereas function is accessible to all.

#### Sorting exercise

In [304]:
dreamPlaces = ['Edinburgh',  'Scotland', 'Oxford', 'Mecca', 'Karbala'] # few contains holysites where i would love to visit one day

In [286]:
print(dreamPlaces)

['Edinburgh', 'Scotland', 'Oxford', 'Mecca', 'Karbala']

In [290]:
print(sorted(dreamPlaces))  # there is no need to always make a new varibale to store the value of sorted()

['Edinburgh', 'Karbala', 'Mecca', 'Oxford', 'Scotland']

In [294]:
print(dreamPlaces)  # just to show that the orginal list remains the same

['Edinburgh', 'Scotland', 'Oxford', 'Mecca', 'Karbala']

In [306]:
dreamPlaces.reverse()
print(dreamPlaces)

['Karbala', 'Mecca', 'Oxford', 'Scotland', 'Edinburgh']

In [308]:
dreamPlaces # just to show again that list is still in its orginal form

['Karbala', 'Mecca', 'Oxford', 'Scotland', 'Edinburgh']

In [310]:
# wow its not let me see again

In [312]:
print(dreamPlaces)

['Karbala', 'Mecca', 'Oxford', 'Scotland', 'Edinburgh']

In [314]:
# ook so i accidently used the wrong function and change the list permantley so let me go over it again

In [316]:
dreamPlaces = ['Edinburgh',  'Scotland', 'Oxford', 'Mecca', 'Karbala']

In [323]:

print(reversed(dreamPlaces))

<list_reverseiterator object at 0x00000252F4B11570>

In [325]:
print(list(reversed(dreamPlaces)))

['Karbala', 'Mecca', 'Oxford', 'Scotland', 'Edinburgh']

In [327]:
dreamPlaces # just to show again that list is still in its orginal form

['Edinburgh', 'Scotland', 'Oxford', 'Mecca', 'Karbala']

#### Trying sorted function again

In [2]:
guns = ['ak-47','m416','glock','beretta']

In [4]:
print(f"Here is the sorted version of guns {sorted(guns)}")

Here is the sorted version of guns ['ak-47', 'beretta', 'glock', 'm416']

In [8]:
guns # actual list still exists

['ak-47', 'm416', 'glock', 'beretta']

In [10]:
guns = sorted(guns, reverse=True)

In [14]:
guns   # see this alphabatically reverse where reverse method reverse alphabatically reverse ifywim

['m416', 'glock', 'beretta', 'ak-47']

#### Intentional Index errors

In [34]:
cities = ['karachi', 'islamabad', 'lahore']

In [36]:
cities[3] #0 1 2 no 3

IndexError: list index out of range

In [38]:
cities.remove('karachi')

In [42]:
cities.remove('islamabad')

In [44]:
cities.remove('lahore')

In [46]:
# since now there is no element left in the list so we going to access the list and will get the index error

In [48]:
cities

[]

In [3]:
cities[0] # here u can see that we have an empty list thus this error and it can only be corrected if the list is filled by the values

NameError: name 'cities' is not defined

### Working with lists & for Loop

In [11]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians: #magicians was a list name, and we made a new list magician in which each name would get stored and get print
    print(magician)

alice
david
carolina

In [17]:
# we can also make the variable name anything else but it is good practice to make the name singular as of the list name which is plural
friends = ['Rameel', 'Asher', 'Usman']
for x in friends:
    print(x)

Rameel
Asher
Usman

#### Doing more work within a for Loop

In [20]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(magician)
    print(f"{magician.title()} you did a fantastic trick!!")

alice
Alice you did a fantastic trick!!
david
David you did a fantastic trick!!
carolina
Carolina you did a fantastic trick!!

In [24]:
#lets remove print(magician)
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(f"{magician.title()} you did a fantastic trick!!")   # now works fine

Alice you did a fantastic trick!!
David you did a fantastic trick!!
Carolina you did a fantastic trick!!

In [26]:
print(magicians)

['alice', 'david', 'carolina']